<.header> Listing Rooms </.header>

<.table id="rooms" rows={@rooms} row_click={&JS.navigate(~p"/rooms/#{&1}")}>
  <:col :let={room} label="Name"><%= room.name %></:col>
  <:col :let={room} label="Owner"><%= room.owner_id %></:col>
  <:action :let={room}>
    <div class="sr-only">
      <.link navigate={~p"/rooms/#{room}"}>Show</.link>
    </div>
  </:action>
</.table>
