<.header>
  Room <%= @room.id %>
  <:subtitle>This is a room record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/rooms/#{@room}/edit"}>
      <.button>Edit room</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @room.name %></:item>
  <:item title="Owner"><%= @room.owner_id %></:item>
</.list>

<.back navigate={~p"/rooms"}>Back to rooms</.back>
